.Main{
    display: flex;
    justify-content: center;
    background-color: azure;
    max-width: 90%;
}

.Car,
.User{
    border: 1px solid black;
    margin: 5px;
    text-align: center;
}

.Comment{
    border: 1px solid black;
    margin: 5px;
}